@font-face {
	font-family: 'JF-Dot-MPlusH12';
	src: url(fonts/JF-Dot-MPlusH12.ttf);
}

body {
	margin: 0px;
	padding: 0px;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
}

body #wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1;
}

#command {
	color: white;
	border-color: white;
	border-radius: 20px;
	width: 150px;
	height: 150px;
	text-align: center;
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 2;
}

#parameters {
	color: white;
	font-family: 'JF-Dot-MPlusH12';
	border-color: white;
	border-radius: 20px;
	width: 150px;
	height: 150px;
	text-align: center;
	position: fixed;
	bottom: 10px;
	right: 180px;
	z-index: 2;
}

#battlemessage {
	color: white;
	font-family: 'JF-Dot-MPlusH12';
	border-color: white;
	border-radius: 20px;
	width: auto;
	height: 150px;
	position: fixed;
	bottom: 10px;
	right: 350px;
	left: 10px;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

#attack, #attackmagic, #recoverymagic {
	font-family: 'JF-Dot-MPlusH12';
	cursor: pointer;
}

#attack:hover, #attackmagic:hover, #recoverymagic:hover {
	color: #f00;
}